<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card border-0 shadow text-center">
        <div class="card-body">
          <div class="mb-4 fs-1 fw-bold">
            <%= usersCount ? usersCount : 0 %>
          </div>
          <h3>Users</h3>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-0 shadow text-center">
        <div class="card-body">
          <div class="mb-4 fs-1 fw-bold">
            <%= employeesCount ? employeesCount : 0 %>
          </div>
          <h3>Employees</h3>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-0 shadow text-center">
        <div class="card-body">
          <div class="mb-4 fs-1 fw-bold">
            <%= departmentsCount ? departmentsCount : 0 %>
          </div>
          <h3>Departments</h3>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-0 shadow text-center">
        <div class="card-body">
          <div class="mb-4 fs-1 fw-bold">0</div>
          <h3>Count</h3>
        </div>
      </div>
    </div>
  </div>
</div>
