<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title != 'undefined' ? title : 'App' %> - Real EMS</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/bootstrap-icons-font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
          const alert = document.querySelector(".alert");
          if (alert) {
            alert.classList.remove("show");
            alert.addEventListener("transitionend", () => alert.remove());
          }
        }, 10000); // 10000 milliseconds = 10 seconds
      });
    </script>
  </head>
  <body class="min-vh-100">
    <%- body %>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
