<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Real EMS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul> -->
    </div>
  </div>
</nav>
<% if (messages.error) { %>
<div class="position-absolute top-0 end-0 alert alert-danger">
  <%= messages.error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (messages.success) { %>
<div class="position-absolute top-0 end-0 alert alert-success">
  <%= messages.success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<!-- Hero Section -->
<section
  id="hero"
  class="bg-primary text-white text-center py-5 m-auto d-flex justify-content-center align-items-center"
  style="height: calc(100dvh - 56px)"
>
  <div class="container">
    <h1 class="display-4">Welcome to Real EMS</h1>
    <p class="lead">We provide the best solutions Employee Management System</p>
    <a href="/login" class="btn btn-secondary btn-lg">Login to Dashboard</a>
  </div>
</section>
